<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <% if(user) { %>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
        <% } else { %>
            <li>
                <a href="/auth/login">Login</a>
            </li> 
        <% } %>
    </ul>
    <div>
        <p>Welcome to the home page</p>
    </div>
</body>
</html>